on early-init
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules ax_thread_snooper ax_affinity_guard ax_boost ax_atcm ax_game_boost ax_frame_boost ax_burst_sched ax_binder_ux ax_binder_obs
